
body {
  background: linear-gradient(to top, #470ff4, #ce6d8b);
  text-align: justify;
}

body a{
  color: black;
}

body a:hover{
  color: black;
}

.portfolio__navigationMenu, .portfolio__information {
  display: inline-block;
  position: relative;
}

.portfolio__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__navigationMenu {
  width: 20%;
}

.portfolio__navigationMenu--list {
  top: 0;
  position: fixed;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  list-style-type: none;
  overflow: hidden;
  background-color: #c9859f;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.portfolio__navigationMenu--list a {
  cursor: pointer;
  padding: 10px 30px;
  text-decoration: none;
}

.portfolio__navigationMenu--list a:hover {
  background-color: #d698b0;
}

.portfolio__information {
  width: 60%;
  background-color: #8789df;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  padding: 5vh;
}

.portfolio__information--aboutMe ul>li {
  list-style: none;
}

.portfolio__information--aboutMe ul>li>img {
  width: 1.5rem;
}

.portfolio__information--aboutMe ul>li>a {
  text-decoration: none;
  vertical-align: middle;
}
